<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="data" value="https://pkgs.dev.azure.com/projectoptimus/Data/_packaging/data/nuget/v3/index.json" /> 
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <data>
      <add key="Username" value="sakchai.t@qnet.net" />
      <add key="ClearTextPassword" value="2w3e4r5t^B38" />
    </data>
  </packageSourceCredentials>
</configuration>